body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 20px;
  color: #fff;
}

.profile {
    display: flex;
    align-items: center;
    
}

.profile-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px;
    background-color: white;
    margin-left: auto;
    cursor: pointer;
}

/* .profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px; */
/* }  */

#username {
    font-size: 16px;
    font-weight: bold;
    color: black;
}


#logout-button{
  display: none;
    margin-left: 91.5%;
    background-color: red;
    margin-top: 2px;
}

h1 {
  margin: 0;
  font-size: 24px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
}
.chat-box{
  display: none;
}

.chat-sidebar {
  flex: 1;
  background-color: #f4f4f4;
  padding: 20px;
}

.chat-sidebar .logged-in-user{
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:large;
  cursor: pointer;
}

.logged-in-user {
  margin-bottom: 20px;
}

.chat-content {
  flex: 2;
  padding: 20px;
}
/* .chat-content .start-ahead {
  display: block;
} */

#head-tag{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-style: normal;
    font-family: auto;
}
#user-name{
    display: none;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin-right: 10px;
    background-color: #333;
    color: #f4f4f4;
    font-size: large;
    font-style: normal;
    font-family: auto;
    margin: auto;
    cursor: pointer;
}
#person-name{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.chat-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
}

.chat-messages {
  height: 400px;
  overflow-y: scroll;
}

.chat-input {
  margin-top: 20px;
  display: flex;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.logged-in-user {
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logged-in-user h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.logged-in-user p {
  margin: 0;
  font-size: 16px;
  color: #555;
}
